<div class="navigation">
  <a href="/rock">Play Rock</a>
  <br>
  <a href="/paper">Play Paper</a>
  <br>
  <a href="/scissors">Play Scissors</a>
  <br>
</div>

<div class="gameplay">
  <h2>
    We played <%= @player_move %>!
  </h2>
  <h2>
    They played <%= @computer_move %>!
  </h2>
  <h2>
    We <%= @result %>!
  </h2>
</div>

<div class="home">
  <a href="/">Rules</a>
</div>
