<div class="navigation">
  <a href="/rock">Play Rock</a>
  <br>
  <a href="/paper">Play Paper</a>
  <br>
  <a href="/scissors">Play Scissors</a>
  <br>
</div>

<h1>Welcome to Rock-Paper-Scissors!</h1>

<p>Please click the links above to play</p>
